.footer_parent {
  display: block;
	position: relative;
	height: auto;
	width: 100%;
  padding: 10px 0;
	margin: 0;
  border-top: 3px solid #D74444;
  background-image: linear-gradient(to right, #FFFFFF, #EDEFF7);
}

.footer_line {
  display: none;
}

.footer_part_parent {
  display: inline-block;
  position: relative;
  height: auto;
  width: 50%;
  padding: 25px 0px;
}

.footer_part_child {
  position: relative;
  display: block;
}

.footer_part_left {
  margin-left: 40px;
  text-align: left;
}

.footer_part_right {
  margin-right: 40px;
  text-align: right;
}

.footer_text {
  line-height: 1.5;
  color: #323232;
}

.footer_text a {
  color: #323232;
}

.footer_text a:hover {
  color: #D74444;
}

@media only screen and (max-width: 720px) {

  .footer_part_parent {
    display: block;
    position: relative;
    height: auto;
    width: 100%;
    padding: 25px 0px;
  }

  .footer_line {
    display: block;
    background-color: #323232;
    width: 80%;
    height: 1px;
    margin: 2px auto;
  }

  .footer_part_left {
    margin-left: 20px;
  }

  .footer_part_right {
    margin-left: 20px;
    text-align: left;
  }

}
