.header_parent {
  position: relative;
  display: block;
}

.header_parent p {
  text-align: right;
  margin-right: 25px;
  color: #323232;
}

.header_image_parent {
  position: relative;
  display: block;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.logo_header {
  display: block;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

.logo_header h1 {
  display: block;
  font-size: 5em;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0px 40px;
  padding-top: 20px;
  background-color: white;
  color: #323232;
  font-family: 'Ubuntu', sans-serif;
}

.logo_header h1 span {
  color: #D74444;
  font-weight: bold;
}

.logo_header h2 {
  position: relative;
  display: block;
  font-size: 5em;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0px 40px;
  padding-bottom: 20px;
  color: #323232;
  text-align: right;
  background-color: white;
  width: auto;
  font-family: 'Ubuntu', sans-serif;
}

.header_image {
  display: block;
  height: auto;
  width: 100%;
  min-width: 1000px;
  margin: 0;
  padding: 0;
}

.desktop_header {
  display: block;
}

.mobile_header {
  display: none;
}

@media only screen and (max-width: 1920px) {

  .logo_header h1 {
    font-size: 3.5em;
  }

  .logo_header h2 {
    font-size: 3.5em;
  }

}

@media only screen and (max-width: 1200px) {

  .logo_header h1 {
    font-size: 2.5em;
  }

  .logo_header h2 {
    font-size: 2.5em;
  }

}


@media only screen and (max-width: 720px) {

  .header_parent {
    position: relative;
    display: block;
    height: 100vh;
    max-height: 100%;
    overflow: hidden;
    width: 100%;
  }

  .header_parent p {
    display: none;
  }

  .header_image_parent {
    height: 100vh; /* Use vh as a fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 100);
    transition: all 0.4s ease-in-out;
  }

  @import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

  .logo_header {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }

  .logo_header h1 {
    font-size: 2.5em;
    padding: 0px 20px;
    padding-top: 10px;
  }

  .logo_header h2 {
    font-size: 2.5em;
    padding: 0px 20px;
    padding-bottom: 10px;
  }


  .header_image {
    height: 100%;
    width: auto;
  }

  .desktop_header {
    display: none;
  }

  .mobile_header {
    display: block;
  }

}
